body{
    background: #000 !important;
}
.team-member{
    text-align: center  ;
    justify-content: center;
    width: 100px;
    height: auto;
    margin-left: 50px;
}
.user-images{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}